/* Markerのスタイル */
.blinking {
  animation: blinkingAnimation 1s infinite;
}

@keyframes blinkingAnimation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.selected-marker {
  border: 3px solid red;
  /* 縁を太くして赤色に設定 */
  border-radius: 50%;
  /* 角を丸くする */
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
  /* ボックスシャドウを設定 */
}