/* LocationWarningコンポーネントのスタイル */
.location-warning {
    position: fixed;
    /* 固定位置に設定 */
    bottom: 10%;
    /* 画面の下から20pxの位置に設定 */
    left: 50%;
    /* 画面の左から50%の位置に設定 */
    transform: translate(-50%, 0);
    /* 中央に配置 */
    background-color: white;
    /* 背景色を白に設定 */
    padding: 20px;
    /* パディングを設定 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* ボックスシャドウを設定 */
    z-index: 1000;
    /* z-indexを設定 */
    max-width: 370px;
    /* 最大幅を360pxに設定 */
    border-radius: 8px;
    /* 角を丸くする */
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    /* トランジションを設定 */
    text-align: center;
    /* テキストを中央揃えに設定 */
    box-sizing: border-box;
    /* ボックスサイズをボーダーとパディングを含むように設定 */
    opacity: 1;
    /* 不透明度を設定 */
    max-height: 103px;
    /* 最大高さを設定 */
}

/* LocationWarningが非表示になるときのスタイル */
.location-warning.hidden {
    opacity: 0;
    /* 不透明度を0に設定 */
    transform: translate(-50%, 20px);
    /* 下に移動 */
}

/* 閉じるボタンのスタイル */
.close-button {
    position: absolute;
    /* 絶対位置に設定 */
    top: 35px;
    /* 上から10pxの位置に設定 */
    right: 10px;
    /* 右から10pxの位置に設定 */
    background: none;
    /* 背景をなしに設定 */
    border: none;
    /* ボーダーをなしに設定 */
    font-size: 30px;
    /* フォントサイズを20pxに設定 */
    cursor: pointer;
    /* カーソルをポインターに設定 */
}

/* メッセージのスタイル */
.message {
    font-size: 14px;
    /* フォントサイズを14pxに設定 */
    color: #333;
    /* テキストカラーを#333に設定 */
    margin: 0;
    /* マージンをなしに設定 */
    padding-right: 30px;
    /* 右側に余白を追加してボタンと重ならないようにする */
}

/* レスポンシブデザイン */
@media (max-width: 768px) {
    .location-warning {
        padding: 15px;
        /* パディングを調整 */
    }

    .close-button {
        font-size: 18px;
        /* フォントサイズを18pxに設定 */
    }

    .message {
        font-size: 12px;
        /* フォントサイズを12pxに設定 */
    }
}