/* アプリ全体のコンテナ */
.app-container {
  position: relative;
  /* 相対位置を設定 */
  width: 100%;
  /* 幅を100%に設定 */
  height: 100vh;
  /* 高さをビューポートの高さに設定 */
  overflow: hidden;
  /* オーバーフローを隠す */
  background-color: #f8f9fa;
  /* 背景色を設定 */
}

/* マップコンテナ */
.map-container {
  position: absolute;
  /* 絶対位置を設定 */
  top: 0;
  /* 上端を0に設定 */
  left: 0;
  /* 左端を0に設定 */
  width: 100%;
  /* 幅を100%に設定 */
  height: 100%;
  /* 高さを100%に設定 */
  z-index: 0;
  /* z-indexを0に設定 */
}

.map-container>div {
  width: 100%;
  /* 幅を100%に設定 */
  height: 100%;
  /* 高さを100%に設定 */
}

/* 初期レンダリングのバックグラウンドイメージ */
.initial-background {
  position: fixed;
  /* 固定位置を設定 */
  top: 0;
  /* 上端を0に設定 */
  left: 0;
  /* 左端を0に設定 */
  width: 100%;
  /* 幅を100%に設定 */
  height: 100%;
  /* 高さを100%に設定 */
  background-image: url('/src/utils/images/row1.png');
  /* 背景画像を設定 */
  background-size: contain;
  /* 背景画像のサイズをcontainに設定 */
  background-repeat: no-repeat;
  /* 背景画像を繰り返さないように設定 */
  background-position: center;
  /* 背景画像の位置を中央に設定 */
  z-index: 1000;
  /* z-indexを1000に設定 */
  transition: opacity 1s ease-out;
  /* 不透明度のトランジションを設定 */
}

.initial-background.hidden {
  opacity: 0;
  /* 不透明度を0に設定 */
  pointer-events: none;
  /* ポインターイベントを無効に設定 */
}

/* メディアクエリを追加してレスポンシブデザインを強化 */
@media (max-width: 768px) {
  /* 768px以下の画面サイズに対するスタイルをここに追加 */
}